*.user

*.aps
*.DS_Store
*.unitypackage

*.exr
*.gif
*.png
*.mp4
*.h264
*.aac
*.webm
*.ogg
*.flac
*.wav
*.zip
*.mll
*.unitypackage

.vs/
_out/
_tmp/
_build_*/
External/
Library/
Temp/
obj/
TestLocal/
TestLocal.meta

# Project/Solution files
RaytracedHardShadow~/*.csproj
RaytracedHardShadow~/*.sln
RaytracedHardShadow~/.idea/**

RaytracedHardShadowHDRP~/*.csproj
RaytracedHardShadowHDRP~/*.sln
RaytracedHardShadowHDRP~/.idea/**

RaytracedHardShadowUniversalRP~/*.csproj
RaytracedHardShadowUniversalRP~/*.sln
RaytracedHardShadowUniversalRP~/.idea/**
# Logs
RaytracedHardShadow~/Logs/*
RaytracedHardShadowHDRP~/Logs/*
RaytracedHardShadowUniversalRP~/Logs/*
